/* Decent Defaults */
article {
  width: fit-content;
  height: fit-content;
  margin: auto;
}
section {
  float: left;
  border-radius: 0.625rem;
  justify-content: center;
}
p {
  margin: 5%;
  font-size: 1.25rem;
  word-spacing: 0.1rem;
  padding: 0rem 1.25rem 0rem;
  line-height: 2rem;
  font-family: "Lexend Deca", sans-serif;
}
h4 {
  font-size: 2.8125rem;
  padding-bottom: -1%;
  padding-left: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
}
button {
  background-color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 2.5rem;
  margin-left: 10%;
  margin-top: 8%;
}
img {
  height: 10%;
  margin-top: -5%;
  padding-left: 10%;
}
div.attribution {
  width: max-content;
}
